@font-face {

	font-family: 'CooperHewitt-BoldItalic';

	src: url('../fonts/cooper-hewitt/CooperHewitt-BoldItalic.eot');

	src: url('../fonts/cooper-hewitt/CooperHewitt-BoldItalic.woff') format('woff'),

	url('../fonts/cooper-hewitt/CooperHewitt-BoldItalic.svg#svgFontName') format('svg');
}

@font-face {

	font-family: 'CooperHewitt-Light';

	src: url('../fonts/cooper-hewitt/CooperHewitt-Light.eot');

	src: url('../fonts/cooper-hewitt/CooperHewitt-Light.woff') format('woff'),

	url('../fonts/cooper-hewitt/CooperHewitt-Light.svg#svgFontName') format('svg');
}

@font-face {

	font-family: 'CooperHewitt-Medium';

	src: url('../fonts/cooper-hewitt/CooperHewitt-Medium.eot');

	src: url('../fonts/cooper-hewitt/CooperHewitt-Medium.woff') format('woff'),

	url('../fonts/cooper-hewitt/CooperHewitt-Medium.svg#svgFontName') format('svg');
}

@font-face {

	font-family: 'CooperHewitt-Semibold';

	src: url('../fonts/cooper-hewitt/CooperHewitt-Semibold.eot');

	src: url('../fonts/cooper-hewitt/CooperHewitt-Semibold.woff') format('woff'),

	url('../fonts/cooper-hewitt/CooperHewitt-Semibold.svg#svgFontName') format('svg');
}

@font-face {

	font-family: 'CooperHewitt-BoldItalic';

	src: url('../fonts/cooper-hewitt/CooperHewitt-Bold.eot');

	src: url('../fonts/cooper-hewitt/CooperHewitt-Bold.woff') format('woff'),

	url('../fonts/cooper-hewitt/CooperHewitt-Bold.svg#svgFontName') format('svg');
}