$font-title: CooperHewitt-Bold;
$font-desc: CooperHewitt-Light;
$font-title-size : 19px; //Titulos botones home
$font-desc-size: 18px; // desc botones home

$font-title-overlay-size: 23px;

$scrollbarHeight: 800px;
$scrollbarWidth: 430px;

//$heightScreen: 1080px;
$heightScreen: 100%;

html, body{
	//height: 1080px;
	height: 100%;
	margin:0;
}

body{
	position: relative;
}


.btns-container{
	.row{
		.col{
			padding-right: 0;
			padding-left: 0;
		}
	}
}

//Btn inicio
.btn-act{
		cursor: pointer;;
		height: $heightScreen;
		text-transform: uppercase;
		text-align: center;
		opacity: 1;
		position:relative;

		background-position: center top;
	  background-repeat: no-repeat;
	  background-size: cover;
}

.btn-act{
	h2{
		font: $font-title;
		font-size: $font-title-size;
		margin-bottom: 65px;
		color:#FFF;
		padding-top: 180px;
	}
	p{
		font: $font-desc;
		font-size: $font-desc-size;
		color:#FFF;
	}
}

//Cada btn inicio
.btn-0{
	//background-color: #988978;
	background:  url("../../images/home/btn_1.jpg");
}
.btn-1{
	//background-color: #c1b4a1;
	background: #c1b4a1 url("../../images/home/btn_2.jpg");
}
.btn-2{
	//background-color: #84181a;
	background:  url("../../images/home/btn_3.jpg");
}
.btn-3{
	//background-color: #5d2418;
	background:  url("../../images/home/btn_4.jpg");
}
.btn-4{
	//background-color: #656259;
	background:  url("../../images/home/btn_5.jpg");
}


//Overlay styles
.overlay{
	display:none;
	position: absolute;
	width:100%;
	height: 0;
	z-index: 2;
}

.general-content-overlay{
	//padding-top: 95px;
	//margin-top: 95px;
}
.overlay{
	.description-container-box{
		width: 278px;
		text-transform: uppercase;

	}
}

.description-container-box{
	margin-top: 90px;
}

.description-container-box{
	h3{
		font: $font-title;
		font-size: $font-title-overlay-size;
		color:#fff;
		//color:black;
		letter-spacing: 0px;
		line-height: 18px;
		opacity: 0;
		display: inline-block;
		position:relative;
		padding-bottom:26px;
	}
	h3:before{
		position: absolute;
		content: '';
		height: 2px;
		bottom:0;
		width: 37%;
		left: 0;
    border-bottom: 8px solid #fff;
	}

	.desc{
		opacity: 0;
	}
	.desc{
		p{
			font: $font-desc;
			font-size: 15px;
			color:#fff;
			letter-spacing: 0px;
			line-height: 18px;
			//opacity: 0;
			margin-top:33px;
		}

		h4{
			font: $font-title;
			font-size: $font-title-size;
			color:#fff;
		}
	}

}


/* Slider Styles */
.slider-container{
	margin-top: 11px;
	opacity: 0;
}
.single-img-slider{
	//background-color: blue;
	max-width:598px;
	//max-height:1000px;
	width: auto;
	height: auto;
}
.single-img-slider img{
		display: block;
    max-width:640px;
    width: auto;
    height: auto;
		border:solid 10px #FFF;
		margin-top: 100px;

}
.slick-prev:before, .slick-next:before {
	font-size: 40px;
}
.slick-prev:before{
	position: absolute;
	left:-40px;
}
.slick-next{
	right:-40px;
}

.slick-next{
	z-index: 99;
}

.slick-dots{
	bottom:-55px;
}

.slick-dots li button::before{
	font-size:18px;
	opacity: .50;
	color:#FFFFFF;
}

.slick-dots li.slick-active button:before{
	opacity: 1;
	color:#FFFFFF;
}


/* Slider Styles ends */


.container-btn-close-overlay{
	display: block;
	width: 70px;
	height: 60px;
	//background-color: blue;
	text-align: center;
	cursor:pointer;
}

.video-overlay{
	.container-btn-close-overlay{
		margin-right: 18px;
		//background-color: blue;
	}
}

//Btn close overlay
.btn-close-overlay {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
		margin-top: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
		background-color: transparent;
		background-color: transparent;
		border:#FFF solid 2px;
		color:#FFF;
		opacity: 1;
}

//Video-overlay styles
.video-overlay{

	position: absolute;
	width:100%;
	height: 100%;
	z-index: 8;
	background-color:rgba(0,0,0,1);
	display: none;

}




.video-container{
	position: relative;
	display: block;
	width:67%;
	height: 900px;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	color: #fff;
	margin: 0 auto;
	//background-color: #000;
}


.video-overlay{
	#naziVideo{
		opacity: 1;
		margin-top:5%;
	}
}


#video-controls {
	position: relative;
	height: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	top:-10px;
	opacity: 1;
	margin-left: auto;
  margin-right: auto;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-color: #000;
	z-index: 2;
}

.controls-container{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


#video-controls button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
}


#video-controls button:hover {
	cursor: pointer;
}

#seek-bar {
	width: 70%;
	line-height: 10px;
}


#volume-bar {
	width: 100px;
}


#video-controls{
	.play-pause-container{
		display: block;
		width:60px;
		height: 100%;
		padding-top: 10px;
		background-color: #000;
		float: left;
	}

	.mute-container{
		display: block;
		width:60px;
		height: 100%;
		padding-top: 10px;
		background-color: #000;
		float: left;
	}

	.volume-range-container{
		display: block;
		width: 120px;
		height: 100%;
		padding-top: 10px;
		float: left;
	}


	.seek-bar-container{
		display: block;
		width:90%;
		height: 100%;
		padding-top: 10px;

	}
}


input[type=range].seek-bar {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.85px 0;
}
input[type=range].seek-bar:focus {
  outline: none;
}
input[type=range].seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ff0000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].seek-bar::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ff0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.05px;
}
input[type=range].seek-bar:focus::-webkit-slider-runnable-track {
  background: #ffcccc;
}
input[type=range].seek-bar::-moz-range-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ff0000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].seek-bar::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ff0000;
  cursor: pointer;
}
input[type=range].seek-bar::-ms-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].seek-bar::-ms-fill-lower {
  background: #330000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].seek-bar::-ms-fill-upper {
  background: #ff0000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].seek-bar::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ff0000;
  cursor: pointer;
  height: 4.3px;
}
input[type=range].seek-bar:focus::-ms-fill-lower {
  background: #ff0000;
}
input[type=range].seek-bar:focus::-ms-fill-upper {
  background: #ffcccc;
}


//**
//STyles volume bar
//**
input[type=range].volume-bar {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.85px 0;
}
input[type=range].volume-bar:focus {
  outline: none;
}
input[type=range].volume-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].volume-bar::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.05px;
}
input[type=range].volume-bar:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range].volume-bar::-moz-range-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].volume-bar::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].volume-bar::-ms-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].volume-bar::-ms-fill-lower {
  background: #999999;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].volume-bar::-ms-fill-upper {
  background: #ffffff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].volume-bar::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 4.3px;
}
input[type=range].volume-bar:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range].volume-bar:focus::-ms-fill-upper {
  background: #ffffff;
}



/* Scrollbar styles  */

#my-scrollbar {
  width: $scrollbarWidth;
  height: $scrollbarHeight;
  overflow: auto;
	margin-top:20px;
	opacity: 0;
}

.bottom-shadow{
	position: absolute;
	bottom:20px;
	display: block;
	width: $scrollbarWidth;
	height: 90px;
	box-shadow: inset 10px -51px 40px -20px #84181A;
	opacity:0;
}

#my-scrollbar > .scroll-content{
	margin-right:30px;
}

#my-scrollbar > .scrollbar-thumb, .scrollbar-thumb-y{
	background: #FFFFFF!important;
	//opacity:0;
}

#my-scrollbar > .scrollbar-track, .scrollbar-track-y{
	//background:#272727;
	background: transparent;
	//opacity:0;
}

#my-scrollbar .scrollbar-track{
	opacity: 0;
}

/* Scrollbar styles ends */
